body {
    background-image: url("../images/landingpage.jpg");
    color: blanchedalmond;
}

img {
    width: 100%;
    height: 100%;
}

.navigation {
    font-size:xx-large;
    color: black;
    text-align: right;
}


.primary_container {
    font-size: large;
    color: white;
}

body.aboutme{

    background-image: url(../images/1.jpg);
}

body.contactme{
    background-image: url(../images/2.jpg);
}

body.support{
    background-image: url(../images/3.jpg);
}